nav {
    font-size: larger;
}
.navbar-header{
    font-size: xx-large;
    font-weight: 700;
    font-family: 'M PLUS Code Latin', sans-serif;
}

body{
    background-color: #dedace;
}
span{
    color: red;
}
.text-center{
    font-size: 50px;
}
.intro-text{
    font-size: 50px;
    font-weight: 500px;
    margin-top: 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pizza-img{
    margin-top: 10%;
}
.menu{
    font-size:x-large; 
    border: 2px #0e1940 solid;
    width: fit-content; 
    margin-top: 2%;
    margin-left: 31%;
    padding: 5px;
    color:#0e1940;
    box-shadow: 2px 2px 2px #0e1940;
}
.menu:hover{
    background-color: #0e1940;
    color: white;
}


